
uvicorn[standard]==0.22.0
python-dotenv==1.0.0
langchain-astradb>=0.6.0
typing-extensions>=4.12.2
python-multipart==0.0.6
PyMuPDF==1.22.5
requests==2.31.0

tenacity==8.4.2
SQLAlchemy==2.0.41
langchain==0.3.27
langchain-anthropic==0.3.18

fastapi>=0.100.0
pydantic>=2.7.4,<3.0.0
langchain==0.3.27
langchain-anthropic==0.3.18
langgraph
langchain_openai
langchain_community
pymupdf